@model IEnumerable<BattleShipAIWeb.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Play Game</h2>

<div class="TowOceans">

    <div class="PlayerOcean" style="float:left">

<table>
  <tr>
    <td>    </td>
    <td>    </td> 
    <td>    </td>
  </tr>
  <tr>
    <td>    </td>
    <td>    </td> 
    <td>    </td>
  </tr>
</table>
</div>

    <div class="CompOcean" style="float:right">
<table>
  <tr>
    <td>    </td>
    <td>    </td> 
    <td>    </td>
  </tr>
  <tr>
    <td>    </td>
    <td>    </td> 
    <td>    </td>
  </tr>
</table>
</div>

</div>