@{
    ViewBag.Title = "Index";
}

<h2>Welcome To BattleShip!</h2>

<div><a href="@Url.Action("Index", "Introduction")"><strong>Introduction</strong></a></div>

<div><a href="@Url.Action("Index", "Play")"><strong>Play</strong></a></div>

